button {
	width: 100%;
	height: 55px;
	background-color: #9dd458;
	color: #fff;
	border-radius: 18px;
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 24px;
	justify-content: center;
	transition: all 0.2s linear;

	&:hover:not(:disabled) {
		background-color: #78a835;
		font-weight: 700;
	}

	&:disabled {
		background-color: #a6aaa2;
		cursor: not-allowed;
	}

	svg {
		position: absolute;
		right: 33px;
	}
}
