.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;

	&__title {
		font-size: 32px;
		font-weight: 700;
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 5px;
	}
}

.products__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
	gap: 40px;
}
